# Prosper Loan Data Project 

## Structure of dataset

#### The Prosper loan dataset comprises of 113937 loan entries with 81 attributes on each loan, including loan amount, borrower rate (or interest rate), current loan status, borrower income, and many others, from the year 2009-2014. There are two main categories:

* Borrower information: Basic attributes of the borrowers such as annual income, condition of employment, interest rate, loan status, etc.
* Loan performance information: Metrics evaluating the risk associated with the loans such as Prosper score and bank card utilization, etc.

In [1]:
#Basic libraries for data wranggling

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

#Library for ML model
import sklearn

# Ignore warning messages
import warnings
warnings.filterwarnings('ignore')
#step

In [2]:
#lOADING OF THE DATASET
df=pd.read_csv("prosperLoanData.csv")
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [3]:
df.shape

(113937, 81)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [5]:
df.describe()

,ListingNumber,Term,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperScore,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
count,1.139370e+05,113937.000000,113912.000000,113937.000000,113937.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,...,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000,113937.000000
mean,6.278857e+05,40.830248,0.218828,0.192764,0.182701,0.168661,0.080306,0.096068,4.072243,5.950067,...,-54.725641,-14.242698,700.446342,681.420499,25.142686,0.998584,0.048027,0.023460,16.550751,80.475228
std,3.280762e+05,10.436212,0.080364,0.074818,0.074516,0.068467,0.046764,0.030403,1.673227,2.376501,...,60.675425,109.232758,2388.513831,2357.167068,275.657937,0.017919,0.332353,0.232412,294.545422,103.239020
min,4.000000e+00,12.000000,0.006530,0.000000,-0.010000,-0.182700,0.004900,-0.182700,1.000000,1.000000,...,-664.870000,-9274.750000,-94.200000,-954.550000,0.000000,0.700000,0.000000,0.000000,0.000000,1.000000
25%,4.009190e+05,36.000000,0.156290,0.134000,0.124200,0.115670,0.042400,0.074080,3.000000,4.000000,...,-73.180000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000
50%,6.005540e+05,36.000000,0.209760,0.184000,0.173000,0.161500,0.072400,0.091700,4.000000,6.000000,...,-34.440000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,44.000000
75%,8.926340e+05,36.000000,0.283810,0.250000,0.240000,0.224300,0.112000,0.116600,5.000000,8.000000,...,-13.920000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,115.000000
max,1.255725e+06,60.000000,0.512290,0.497500,0.492500,0.319900,0.366000,0.283700,7.000000,11.000000,...,32.060000,0.000000,25000.000000,25000.000000,21117.900000,1.012500,39.000000,33.000000,25000.000000,1189.000000

## Preprocessing of the Data

Some columns have to processed as they contain dirty data

In [6]:
df.isna().sum()
#checking of the null values

ListingKey                         0
ListingNumber                      0
ListingCreationDate                0
CreditGrade                    84984
Term                               0
                               ...
PercentFunded                      0
Recommendations                    0
InvestmentFromFriendsCount         0
InvestmentFromFriendsAmount        0
Investors                          0
Length: 81, dtype: int64

In [7]:
#some columns are seleccted to make a subdataset and for cleaning of data 

col_feature=['ListingNumber','ListingCreationDate','ProsperRating (Alpha)','ProsperScore','ListingCategory (numeric)', 'Occupation','EmploymentStatus', 
            'IsBorrowerHomeowner', 'CurrentCreditLines', 'OpenRevolvingAccounts', 'DebtToIncomeRatio','IncomeVerifiable', 
            'LoanOriginalAmount', 'LoanStatus','CreditScoreRangeLower', 'CreditScoreRangeUpper','BorrowerState', 
            'LoanOriginationDate', 'IncomeRange','BorrowerAPR','BorrowerRate','StatedMonthlyIncome','Term']

In [8]:
#new dataset with limited features extracted from the old dataset
loan_df=df[col_feature]
loan_df.head()

,ListingNumber,ListingCreationDate,ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),Occupation,EmploymentStatus,IsBorrowerHomeowner,CurrentCreditLines,OpenRevolvingAccounts,...,LoanStatus,CreditScoreRangeLower,CreditScoreRangeUpper,BorrowerState,LoanOriginationDate,IncomeRange,BorrowerAPR,BorrowerRate,StatedMonthlyIncome,Term
0,193129,2007-08-26 19:09:29.263000000,NaN,NaN,0,Other,Self-employed,True,5.0,1,...,Completed,640.0,659.0,CO,2007-09-12 00:00:00,"$25,000-49,999",0.16516,0.1580,3083.333333,36
1,1209647,2014-02-27 08:28:07.900000000,A,7.0,2,Professional,Employed,False,14.0,13,...,Current,680.0,699.0,CO,2014-03-03 00:00:00,"$50,000-74,999",0.12016,0.0920,6125.000000,36
2,81716,2007-01-05 15:00:47.090000000,NaN,NaN,0,Other,Not available,False,NaN,0,...,Completed,480.0,499.0,GA,2007-01-17 00:00:00,Not displayed,0.28269,0.2750,2083.333333,36
3,658116,2012-10-22 11:02:35.010000000,A,9.0,16,Skilled Labor,Employed,True,5.0,7,...,Current,800.0,819.0,GA,2012-11-01 00:00:00,"$25,000-49,999",0.12528,0.0974,2875.000000,36
4,909464,2013-09-14 18:38:39.097000000,D,4.0,2,Executive,Employed,True,19.0,6,...,Current,680.0,699.0,MN,2013-09-20 00:00:00,"$100,000+",0.24614,0.2085,9583.333333,36

In [9]:
loan_df.shape

(113937, 23)

In [10]:
# info of the current dataset
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 23 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ListingNumber              113937 non-null  int64
 1   ListingCreationDate        113937 non-null  object
 2   ProsperRating (Alpha)      84853 non-null   object
 3   ProsperScore               84853 non-null   float64
 4   ListingCategory (numeric)  113937 non-null  int64
 5   Occupation                 110349 non-null  object
 6   EmploymentStatus           111682 non-null  object
 7   IsBorrowerHomeowner        113937 non-null  bool
 8   CurrentCreditLines         106333 non-null  float64
 9   OpenRevolvingAccounts      113937 non-null  int64
 10  DebtToIncomeRatio          105383 non-null  float64
 11  IncomeVerifiable           113937 non-null  bool
 12  LoanOriginalAmount         113937 non-null  int64
 13  LoanStatus                 113937 non-null  object
 14  CreditScoreRangeLower      113346 non-null  float64
 15  CreditScoreRangeUpper      113346 non-null  float64
 16  BorrowerState              108422 non-null  object
 17  LoanOriginationDate        113937 non-null  object
 18  IncomeRange                113937 non-null  object
 19  BorrowerAPR                113912 non-null  float64
 20  BorrowerRate               113937 non-null  float64
 21  StatedMonthlyIncome        113937 non-null  float64
 22  Term                       113937 non-null  int64
dtypes: bool(2), float64(8), int64(5), object(8)
memory usage: 18.5+ MB

In [11]:
loan_df.describe()

,ListingNumber,ProsperScore,ListingCategory (numeric),CurrentCreditLines,OpenRevolvingAccounts,DebtToIncomeRatio,LoanOriginalAmount,CreditScoreRangeLower,CreditScoreRangeUpper,BorrowerAPR,BorrowerRate,StatedMonthlyIncome,Term
count,1.139370e+05,84853.000000,113937.000000,106333.000000,113937.00000,105383.000000,113937.00000,113346.000000,113346.000000,113912.000000,113937.000000,1.139370e+05,113937.000000
mean,6.278857e+05,5.950067,2.774209,10.317192,6.96979,0.275947,8337.01385,685.567731,704.567731,0.218828,0.192764,5.608026e+03,40.830248
std,3.280762e+05,2.376501,3.996797,5.457866,4.63097,0.551759,6245.80058,66.458275,66.458275,0.080364,0.074818,7.478497e+03,10.436212
min,4.000000e+00,1.000000,0.000000,0.000000,0.00000,0.000000,1000.00000,0.000000,19.000000,0.006530,0.000000,0.000000e+00,12.000000
25%,4.009190e+05,4.000000,1.000000,7.000000,4.00000,0.140000,4000.00000,660.000000,679.000000,0.156290,0.134000,3.200333e+03,36.000000
50%,6.005540e+05,6.000000,1.000000,10.000000,6.00000,0.220000,6500.00000,680.000000,699.000000,0.209760,0.184000,4.666667e+03,36.000000
75%,8.926340e+05,8.000000,3.000000,13.000000,9.00000,0.320000,12000.00000,720.000000,739.000000,0.283810,0.250000,6.825000e+03,36.000000
max,1.255725e+06,11.000000,20.000000,59.000000,51.00000,10.010000,35000.00000,880.000000,899.000000,0.512290,0.497500,1.750003e+06,60.000000

In [12]:
# checking out the null values 
loan_df.isna().sum()

ListingNumber                    0
ListingCreationDate              0
ProsperRating (Alpha)        29084
ProsperScore                 29084
ListingCategory (numeric)        0
Occupation                    3588
EmploymentStatus              2255
IsBorrowerHomeowner              0
CurrentCreditLines            7604
OpenRevolvingAccounts            0
DebtToIncomeRatio             8554
IncomeVerifiable                 0
LoanOriginalAmount               0
LoanStatus                       0
CreditScoreRangeLower          591
CreditScoreRangeUpper          591
BorrowerState                 5515
LoanOriginationDate              0
IncomeRange                      0
BorrowerAPR                     25
BorrowerRate                     0
StatedMonthlyIncome              0
Term                             0
dtype: int64

##### so as I can see from the above code that major null values are present in "ProsperRating (Alpha)" i.e. 29084 and ProsperScore also same they have to removed

In [13]:
# Check for duplicates in the data
sum(loan_df.duplicated())

0

In [14]:
# Returns the number of unique in the dataset
loan_df.nunique()

ListingNumber                113066
ListingCreationDate          113064
ProsperRating (Alpha)             7
ProsperScore                     11
ListingCategory (numeric)        21
Occupation                       67
EmploymentStatus                  8
IsBorrowerHomeowner               2
CurrentCreditLines               54
OpenRevolvingAccounts            48
DebtToIncomeRatio              1207
IncomeVerifiable                  2
LoanOriginalAmount             2468
LoanStatus                       12
CreditScoreRangeLower            26
CreditScoreRangeUpper            26
BorrowerState                    51
LoanOriginationDate            1873
IncomeRange                       8
BorrowerAPR                    6677
BorrowerRate                   2294
StatedMonthlyIncome           13502
Term                              3
dtype: int64

In [15]:
# According to my analysis, ProsperRating is the most important feature of this dataset so i will select only not null rows

loan_df=loan_df[loan_df['ProsperRating (Alpha)'].notnull()]

In [16]:
loan_df.shape

(84853, 23)

In [17]:
# Filling missing values with mean
loan_df['DebtToIncomeRatio']=loan_df['DebtToIncomeRatio'].fillna(loan_df['DebtToIncomeRatio'].mean())

In [18]:
# Filling missing values 
loan_df['Occupation']=loan_df['Occupation'].fillna('Unknown')

In [19]:
loan_df.nunique()

ListingNumber                83982
ListingCreationDate          83980
ProsperRating (Alpha)            7
ProsperScore                    11
ListingCategory (numeric)       20
Occupation                      68
EmploymentStatus                 7
IsBorrowerHomeowner              2
CurrentCreditLines              51
OpenRevolvingAccounts           46
DebtToIncomeRatio              260
IncomeVerifiable                 2
LoanOriginalAmount            1934
LoanStatus                      11
CreditScoreRangeLower           15
CreditScoreRangeUpper           15
BorrowerState                   48
LoanOriginationDate           1165
IncomeRange                      7
BorrowerAPR                   2330
BorrowerRate                  1229
StatedMonthlyIncome           9445
Term                             3
dtype: int64

In [20]:
loan_df.isna().sum()

ListingNumber                0
ListingCreationDate          0
ProsperRating (Alpha)        0
ProsperScore                 0
ListingCategory (numeric)    0
Occupation                   0
EmploymentStatus             0
IsBorrowerHomeowner          0
CurrentCreditLines           0
OpenRevolvingAccounts        0
DebtToIncomeRatio            0
IncomeVerifiable             0
LoanOriginalAmount           0
LoanStatus                   0
CreditScoreRangeLower        0
CreditScoreRangeUpper        0
BorrowerState                0
LoanOriginationDate          0
IncomeRange                  0
BorrowerAPR                  0
BorrowerRate                 0
StatedMonthlyIncome          0
Term                         0
dtype: int64

In [21]:
loan_df.head()

,ListingNumber,ListingCreationDate,ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),Occupation,EmploymentStatus,IsBorrowerHomeowner,CurrentCreditLines,OpenRevolvingAccounts,...,LoanStatus,CreditScoreRangeLower,CreditScoreRangeUpper,BorrowerState,LoanOriginationDate,IncomeRange,BorrowerAPR,BorrowerRate,StatedMonthlyIncome,Term
1,1209647,2014-02-27 08:28:07.900000000,A,7.0,2,Professional,Employed,False,14.0,13,...,Current,680.0,699.0,CO,2014-03-03 00:00:00,"$50,000-74,999",0.12016,0.0920,6125.000000,36
3,658116,2012-10-22 11:02:35.010000000,A,9.0,16,Skilled Labor,Employed,True,5.0,7,...,Current,800.0,819.0,GA,2012-11-01 00:00:00,"$25,000-49,999",0.12528,0.0974,2875.000000,36
4,909464,2013-09-14 18:38:39.097000000,D,4.0,2,Executive,Employed,True,19.0,6,...,Current,680.0,699.0,MN,2013-09-20 00:00:00,"$100,000+",0.24614,0.2085,9583.333333,36
5,1074836,2013-12-14 08:26:37.093000000,B,10.0,1,Professional,Employed,True,21.0,13,...,Current,740.0,759.0,NM,2013-12-24 00:00:00,"$100,000+",0.15425,0.1314,8333.333333,60
6,750899,2013-04-12 09:52:56.147000000,E,2.0,1,Sales - Retail,Employed,False,10.0,6,...,Current,680.0,699.0,KS,2013-04-18 00:00:00,"$25,000-49,999",0.31032,0.2712,2083.333333,36

In [22]:
# check unique loan status 
loan_df["LoanStatus"].unique()

array(['Current', 'Past Due (1-15 days)', 'Defaulted', 'Completed',
       'Chargedoff', 'Past Due (16-30 days)', 'Past Due (61-90 days)',
       'Past Due (31-60 days)', 'Past Due (91-120 days)',
       'FinalPaymentInProgress', 'Past Due (>120 days)'], dtype=object)

In [23]:
#checking the dtypes of every column
loan_df.dtypes

ListingNumber                  int64
ListingCreationDate           object
ProsperRating (Alpha)         object
ProsperScore                 float64
ListingCategory (numeric)      int64
Occupation                    object
EmploymentStatus              object
IsBorrowerHomeowner             bool
CurrentCreditLines           float64
OpenRevolvingAccounts          int64
DebtToIncomeRatio            float64
IncomeVerifiable                bool
LoanOriginalAmount             int64
LoanStatus                    object
CreditScoreRangeLower        float64
CreditScoreRangeUpper        float64
BorrowerState                 object
LoanOriginationDate           object
IncomeRange                   object
BorrowerAPR                  float64
BorrowerRate                 float64
StatedMonthlyIncome          float64
Term                           int64
dtype: object

In [24]:
# Convert 'ListingCreationDate' type from str to datetime 
loan_df['ListingCreationDate']=pd.to_datetime(loan_df['ListingCreationDate'])

In [25]:
loan_df["ListingCreationDate"]

1        2014-02-27 08:28:07.900
3        2012-10-22 11:02:35.010
4        2013-09-14 18:38:39.097
5        2013-12-14 08:26:37.093
6        2013-04-12 09:52:56.147
                   ...
113932   2013-04-14 05:55:02.663
113933   2011-11-03 20:42:55.333
113934   2013-12-13 05:49:12.703
113935   2011-11-14 13:18:26.597
113936   2014-01-15 09:27:37.657
Name: ListingCreationDate, Length: 84853, dtype: datetime64[ns]

In [26]:
loan_df["LoanOriginationDate"]

1         2014-03-03 00:00:00
3         2012-11-01 00:00:00
4         2013-09-20 00:00:00
5         2013-12-24 00:00:00
6         2013-04-18 00:00:00
                 ...
113932    2013-04-22 00:00:00
113933    2011-11-07 00:00:00
113934    2013-12-23 00:00:00
113935    2011-11-21 00:00:00
113936    2014-01-21 00:00:00
Name: LoanOriginationDate, Length: 84853, dtype: object

In [27]:
# Extract date information from ListingCreationDate column
loan_df['date'] = loan_df['ListingCreationDate'].dt.date

# Extract year information from ListingCreationDate column
loan_df['year']= loan_df['ListingCreationDate'].dt.year

# Extract month information from ListingCreationDate column
loan_df['month'] = loan_df['ListingCreationDate'].dt.month

# Convert 'date' type from str to datetime 
loan_df['date']=pd.to_datetime(loan_df['date'])

# Drop unused column
loan_df.drop(['ListingCreationDate'], axis=1, inplace=True)

In [28]:
# unique values in the month column

loan_df['month'].unique()

array([ 2, 10,  9, 12,  4,  5,  7,  8, 11,  1,  6,  3], dtype=int64)

In [29]:
loan_df.date.unique()

array(['2014-02-27T00:00:00.000000000', '2012-10-22T00:00:00.000000000',
       '2013-09-14T00:00:00.000000000', ...,
       '2009-12-26T00:00:00.000000000', '2010-12-25T00:00:00.000000000',
       '2010-09-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [30]:
loan_df.year.unique()

array([2014, 2012, 2013, 2010, 2011, 2009], dtype=int64)

In [31]:
# Replacing numerical values of month with names
# Convert 'Month' type  to str
loan_df['month']=loan_df['month'].astype(str)

# replacing numerical values of month with month names
loan_df.month=loan_df.month.replace([ '1', '2','3','4','5','6','7','8', '9','10','11','12'], ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'])

# check the correction
loan_df['month'].unique()

array(['Feb', 'Oct', 'Sept', 'Dec', 'Apr', 'May', 'Jul', 'Aug', 'Nov',
       'Jan', 'Jun', 'Mar'], dtype=object)

In [32]:
loan_df.head()

,ListingNumber,ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),Occupation,EmploymentStatus,IsBorrowerHomeowner,CurrentCreditLines,OpenRevolvingAccounts,DebtToIncomeRatio,...,BorrowerState,LoanOriginationDate,IncomeRange,BorrowerAPR,BorrowerRate,StatedMonthlyIncome,Term,date,year,month
1,1209647,A,7.0,2,Professional,Employed,False,14.0,13,0.18,...,CO,2014-03-03 00:00:00,"$50,000-74,999",0.12016,0.0920,6125.000000,36,2014-02-27,2014,Feb
3,658116,A,9.0,16,Skilled Labor,Employed,True,5.0,7,0.15,...,GA,2012-11-01 00:00:00,"$25,000-49,999",0.12528,0.0974,2875.000000,36,2012-10-22,2012,Oct
4,909464,D,4.0,2,Executive,Employed,True,19.0,6,0.26,...,MN,2013-09-20 00:00:00,"$100,000+",0.24614,0.2085,9583.333333,36,2013-09-14,2013,Sept
5,1074836,B,10.0,1,Professional,Employed,True,21.0,13,0.36,...,NM,2013-12-24 00:00:00,"$100,000+",0.15425,0.1314,8333.333333,60,2013-12-14,2013,Dec
6,750899,E,2.0,1,Sales - Retail,Employed,False,10.0,6,0.27,...,KS,2013-04-18 00:00:00,"$25,000-49,999",0.31032,0.2712,2083.333333,36,2013-04-12,2013,Apr

In [33]:
# Convert 'LoanOriginationDate' type from str to datetime 
loan_df['LoanOriginationDate']=pd.to_datetime(loan_df['LoanOriginationDate'])

In [34]:
loan_df['ListingNumber']=loan_df['ListingNumber'].astype(str)
loan_df['ProsperScore']=loan_df['ProsperScore'].astype(int)

In [35]:
loan_df.dtypes

ListingNumber                        object
ProsperRating (Alpha)                object
ProsperScore                          int32
ListingCategory (numeric)             int64
Occupation                           object
EmploymentStatus                     object
IsBorrowerHomeowner                    bool
CurrentCreditLines                  float64
OpenRevolvingAccounts                 int64
DebtToIncomeRatio                   float64
IncomeVerifiable                       bool
LoanOriginalAmount                    int64
LoanStatus                           object
CreditScoreRangeLower               float64
CreditScoreRangeUpper               float64
BorrowerState                        object
LoanOriginationDate          datetime64[ns]
IncomeRange                          object
BorrowerAPR                         float64
BorrowerRate                        float64
StatedMonthlyIncome                 float64
Term                                  int64
date                         datetime64[ns]
year                                  int64
month                                object
dtype: object

In [36]:
loan_df["ListingCategory (numeric)"]

1          2
3         16
4          2
5          1
6          1
          ..
113932     1
113933     7
113934     1
113935     2
113936     1
Name: ListingCategory (numeric), Length: 84853, dtype: int64

As mentioned in the documnetation that the listing category column has some values i.e.
* ListingCategory 
The category of the listing that the borrower selected when posting their listing: 
* 0 - Not Available, 
* 1 - Debt Consolidation,
* 2 - Home Improvement, 
* 3 - Business, 
* 4 - Personal Loan,
* 5 - Student Use,
* 6 - Auto,
* 7- Other,
* 8 - Baby&Adoption, 
* 9 - Boat, 
* 10 - Cosmetic Procedure, 
* 11 - Engagement Ring, 
* 12 - Green Loans,
* 13 - Household E

In [37]:
# convert the ListingCategory (numeric) columns into the ListingCategory column with categories as metioned above 
categ = {0 : 'Not Available', 1 : 'Debt Consolidation', 2 : 'Home Improvement', 3: 'Business', 
             4 : 'Personal Loan', 5 : 'Student Use', 6 : 'Auto', 7 : 'Other', 8 : 'Baby&Adoption', 
             9 : 'Boat', 10 : 'Cosmetic Procedure', 11 : 'Engagement Ring', 12 : 'Green Loans',
             13 : 'Household Expenses', 14 : 'Large Purchases', 15 : 'Medical/Dental', 16 : 'Motorcycle',
             17 : 'RV', 18 : 'Taxes', 19 : 'Vacation', 20 : 'Wedding Loans'}

loan_df['ListingCategory'] = loan_df['ListingCategory (numeric)'].map(categ)
loan_df.drop(['ListingCategory (numeric)'], axis=1, inplace=True)

In [38]:
loan_df['ListingCategory'].unique()

array(['Home Improvement', 'Motorcycle', 'Debt Consolidation', 'Other',
       'Household Expenses', 'Auto', 'Medical/Dental', 'Wedding Loans',
       'Vacation', 'Taxes', 'Business', 'Baby&Adoption',
       'Engagement Ring', 'Large Purchases', 'Boat', 'RV',
       'Cosmetic Procedure', 'Not Available', 'Student Use',
       'Green Loans'], dtype=object)

In [39]:
# convert string to category type of ProsperRating (Alpha) column

values = ['AA', 'A', 'B', 'C', 'D', 'E','HR']
categorical_var = pd.api.types.CategoricalDtype(ordered = True, categories = values)
loan_df['ProsperRating'] = loan_df['ProsperRating (Alpha)'].astype(categorical_var)

In [40]:
loan_df.dtypes

ListingNumber                    object
ProsperRating (Alpha)            object
ProsperScore                      int32
Occupation                       object
EmploymentStatus                 object
IsBorrowerHomeowner                bool
CurrentCreditLines              float64
OpenRevolvingAccounts             int64
DebtToIncomeRatio               float64
IncomeVerifiable                   bool
LoanOriginalAmount                int64
LoanStatus                       object
CreditScoreRangeLower           float64
CreditScoreRangeUpper           float64
BorrowerState                    object
LoanOriginationDate      datetime64[ns]
IncomeRange                      object
BorrowerAPR                     float64
BorrowerRate                    float64
StatedMonthlyIncome             float64
Term                              int64
date                     datetime64[ns]
year                              int64
month                            object
ListingCategory                  object
ProsperRating                  category
dtype: object

In [41]:
# Converting the bool values into the numeric such that replacing the "True":1 and "False":0 of columns like ["IsBorrowerHomeowner","IncomeVerifiable"]IsBorrowerHomeowner","IncomeVerifiable"]

#df['col'] = df['col'].map({True: 1, False: 0})  this is the methof that I have used 

loan_df["IncomeVerifiable"]=loan_df["IncomeVerifiable"].map({True: 1, False:0})
# loan_df["IsBorrowerHomeowner"]=loan_df["IsBorrowerHomeowner"].map({True: 1, False:0})

In [42]:
loan_df["IsBorrowerHomeowner"]=loan_df["IsBorrowerHomeowner"].map({False: 0, True: 1})

In [43]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84853 entries, 1 to 113936
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ListingNumber          84853 non-null  object
 1   ProsperRating (Alpha)  84853 non-null  object
 2   ProsperScore           84853 non-null  int32
 3   Occupation             84853 non-null  object
 4   EmploymentStatus       84853 non-null  object
 5   IsBorrowerHomeowner    84853 non-null  int64
 6   CurrentCreditLines     84853 non-null  float64
 7   OpenRevolvingAccounts  84853 non-null  int64
 8   DebtToIncomeRatio      84853 non-null  float64
 9   IncomeVerifiable       84853 non-null  int64
 10  LoanOriginalAmount     84853 non-null  int64
 11  LoanStatus             84853 non-null  object
 12  CreditScoreRangeLower  84853 non-null  float64
 13  CreditScoreRangeUpper  84853 non-null  float64
 14  BorrowerState          84853 non-null  object
 15  LoanOriginationDate    84853 non-null  datetime64[ns]
 16  IncomeRange            84853 non-null  object
 17  BorrowerAPR            84853 non-null  float64
 18  BorrowerRate           84853 non-null  float64
 19  StatedMonthlyIncome    84853 non-null  float64
 20  Term                   84853 non-null  int64
 21  date                   84853 non-null  datetime64[ns]
 22  year                   84853 non-null  int64
 23  month                  84853 non-null  object
 24  ListingCategory        84853 non-null  object
 25  ProsperRating          84853 non-null  category
dtypes: category(1), datetime64[ns](2), float64(7), int32(1), int64(6), object(9)
memory usage: 16.6+ MB

In [44]:
# calcute averge Credit Score Range
loan_df['CreditScore_average'] = (loan_df['CreditScoreRangeLower'] + loan_df['CreditScoreRangeUpper'])/2

In [45]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84853 entries, 1 to 113936
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ListingNumber          84853 non-null  object
 1   ProsperRating (Alpha)  84853 non-null  object
 2   ProsperScore           84853 non-null  int32
 3   Occupation             84853 non-null  object
 4   EmploymentStatus       84853 non-null  object
 5   IsBorrowerHomeowner    84853 non-null  int64
 6   CurrentCreditLines     84853 non-null  float64
 7   OpenRevolvingAccounts  84853 non-null  int64
 8   DebtToIncomeRatio      84853 non-null  float64
 9   IncomeVerifiable       84853 non-null  int64
 10  LoanOriginalAmount     84853 non-null  int64
 11  LoanStatus             84853 non-null  object
 12  CreditScoreRangeLower  84853 non-null  float64
 13  CreditScoreRangeUpper  84853 non-null  float64
 14  BorrowerState          84853 non-null  object
 15  LoanOriginationDate    84853 non-null  datetime64[ns]
 16  IncomeRange            84853 non-null  object
 17  BorrowerAPR            84853 non-null  float64
 18  BorrowerRate           84853 non-null  float64
 19  StatedMonthlyIncome    84853 non-null  float64
 20  Term                   84853 non-null  int64
 21  date                   84853 non-null  datetime64[ns]
 22  year                   84853 non-null  int64
 23  month                  84853 non-null  object
 24  ListingCategory        84853 non-null  object
 25  ProsperRating          84853 non-null  category
 26  CreditScore_average    84853 non-null  float64
dtypes: category(1), datetime64[ns](2), float64(8), int32(1), int64(6), object(9)
memory usage: 17.2+ MB

In [46]:
loan_df.describe()

,ProsperScore,IsBorrowerHomeowner,CurrentCreditLines,OpenRevolvingAccounts,DebtToIncomeRatio,IncomeVerifiable,LoanOriginalAmount,CreditScoreRangeLower,CreditScoreRangeUpper,BorrowerAPR,BorrowerRate,StatedMonthlyIncome,Term,year,CreditScore_average
count,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,84853.000000,8.485300e+04,84853.000000,84853.000000,84853.000000
mean,5.950067,0.528538,10.508032,7.386292,0.258752,0.913580,9083.440515,699.390240,718.390240,0.226658,0.196022,5.931175e+03,42.486135,2012.328156,708.890240
std,2.376501,0.499188,5.317401,4.515977,0.304333,0.280985,6287.860058,47.095937,47.095937,0.079916,0.074631,8.239944e+03,11.640346,1.200926,47.095937
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1000.000000,600.000000,619.000000,0.045830,0.040000,0.000000e+00,12.000000,2009.000000,609.500000
25%,4.000000,0.000000,7.000000,4.000000,0.160000,1.000000,4000.000000,660.000000,679.000000,0.163280,0.135900,3.434000e+03,36.000000,2012.000000,669.500000
50%,6.000000,1.000000,10.000000,7.000000,0.240000,1.000000,7500.000000,700.000000,719.000000,0.219450,0.187500,5.000000e+03,36.000000,2013.000000,709.500000
75%,8.000000,1.000000,13.000000,10.000000,0.310000,1.000000,13500.000000,720.000000,739.000000,0.292540,0.257400,7.083333e+03,60.000000,2013.000000,729.500000
max,11.000000,1.000000,59.000000,50.000000,10.010000,1.000000,35000.000000,880.000000,899.000000,0.423950,0.360000,1.750003e+06,60.000000,2014.000000,889.500000

In [48]:
# Create the new binary column 'LoanStatusBinary' based on your criteria
loan_df['LoanStatusBinary'] = loan_df['LoanStatus'].apply(lambda x: 1 if x == 'Completed' else 0)

# Drop the original 'LoanStatus' column
loan_df.drop(columns=['LoanStatus'], inplace=True)

# Rename the new column to 'LoanStatus'
loan_df.rename(columns={'LoanStatusBinary': 'LoanStatus'}, inplace=True)

In [49]:
loan_df

,ListingNumber,ProsperRating (Alpha),ProsperScore,Occupation,EmploymentStatus,IsBorrowerHomeowner,CurrentCreditLines,OpenRevolvingAccounts,DebtToIncomeRatio,IncomeVerifiable,...,BorrowerRate,StatedMonthlyIncome,Term,date,year,month,ListingCategory,ProsperRating,CreditScore_average,LoanStatus
1,1209647,A,7,Professional,Employed,0,14.0,13,0.18,1,...,0.0920,6125.000000,36,2014-02-27,2014,Feb,Home Improvement,A,689.5,0
3,658116,A,9,Skilled Labor,Employed,1,5.0,7,0.15,1,...,0.0974,2875.000000,36,2012-10-22,2012,Oct,Motorcycle,A,809.5,0
4,909464,D,4,Executive,Employed,1,19.0,6,0.26,1,...,0.2085,9583.333333,36,2013-09-14,2013,Sept,Home Improvement,D,689.5,0
5,1074836,B,10,Professional,Employed,1,21.0,13,0.36,1,...,0.1314,8333.333333,60,2013-12-14,2013,Dec,Debt Consolidation,B,749.5,0
6,750899,E,2,Sales - Retail,Employed,0,10.0,6,0.27,1,...,0.2712,2083.333333,36,2013-04-12,2013,Apr,Debt Consolidation,E,689.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,753087,C,5,Food Service Management,Employed,1,9.0,9,0.13,1,...,0.1864,4333.333333,36,2013-04-14,2013,Apr,Debt Consolidation,C,709.5,0
113933,537216,A,8,Professional,Employed,1,14.0,9,0.11,1,...,0.1110,8041.666667,36,2011-11-03,2011,Nov,Other,A,709.5,0
113934,1069178,D,3,Other,Employed,1,12.0,9,0.51,1,...,0.2150,2875.000000,60,2013-12-13,2013,Dec,Debt Consolidation,D,709.5,0
113935,539056,C,5,Food Service,Full-time,1,11.0,7,0.48,1,...,0.2605,3875.000000,60,2011-11-14,2011,Nov,Home Improvement,C,689.5,0
113936,1140093,A,7,Professor,Employed,0,10.0,8,0.23,1,...,0.1039,4583.333333,36,2014-01-15,2014,Jan,Debt Consolidation,A,689.5,0

In [51]:
# Find columns with missing values
columns_with_missing_values = loan_df.columns[loan_df.isnull().any()].tolist()

# Display the columns with missing values
print("Columns with missing values:", columns_with_missing_values)

Columns with missing values: []

In [52]:
# Identify columns with boolean values
boolean_columns = [col for col in loan_df.columns if loan_df[col].dtype == bool]

# Loop through boolean columns and cast as int
for col in boolean_columns:
    loan_df[col] = loan_df[col].astype(int)

In [54]:
loan_df.to_csv('preprocessed_data2.csv', index=False)